@import '../colors.scss';
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
}
.content {
    width: 100%;
    height: 100%;
    background-color: $panel-background;
    color: #797979;
    font-family: sans-serif;
    .column  {
        width: 100%;
        height: 100%;
    }
    .panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .border-left {
        border-left: 1px solid $border-color;
    }
    .border-right {
        border-right: 1px solid $border-color;
    }
    .border-top {
        border-top: 1px solid $border-color;
    }
    .border-bottom {
        border-bottom: 1px solid $border-color;
    }

}