<div class="main">
	<div class="content">
		<split-container>

			<split-panel [options]="{ size: 200, minSize: 100, canDrag: true }">
				<div class="panel no1"></div>
			</split-panel>

			<split-panel [options]="{ ratio: 2, minSize: 200, }">
				<div class="panel no2">
					<split-container [options]="{ direction: 'horizontal' }">
						<split-panel [options]="{ size: 200, minSize: 100, canDrag: true }">
							<div class="panel no4"></div>
						</split-panel>
						<split-panel [options]="{ ratio: 1, minSize: 50}">
							<div class="panel no5"></div>
						</split-panel>
						<split-panel [options]="{ size: 200, canDrag: true }">
							<div class="panel no4"></div>
						</split-panel>
					</split-container>
				</div>
			</split-panel>

			<split-panel [options]="{ size: 200, canDrag: true }">
				<div class="panel no3"></div>
			</split-panel>

		</split-container>

	</div>
</div>